.hotbrand-main{
  width: 20%;
  float: left;
  .hotbrand-title{
    font-size: 24px;
    color: #7e8e98;
    line-height: 72px;
  }
  .hotbrand-content{

    .hotbrand-item{

      .hotbrand-top{

        .hotbrand-top-img{
          width: 110px;
          img{

          }
        }
        .hotbrand-top-text{
          width: 110px;
        }
      }
      .hotbrand-foot{
        
        .hotbrand-foot-img{

          img{
            width: 70px;
          }
        }
      }
    }
  }
}
